<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nju.dao.mapper.TbStudentMapper" >
  <resultMap id="BaseResultMap" type="com.nju.entity.TbStudent" >
    <id column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="student_type" property="studentType" jdbcType="INTEGER" />
    <result column="student_count" property="studentCount" jdbcType="VARCHAR" />
    <result column="student_password" property="studentPassword" jdbcType="VARCHAR" />
    <result column="student_name" property="studentName" jdbcType="VARCHAR" />
    <result column="student_address" property="studentAddress" jdbcType="VARCHAR" />
    <result column="student_sex" property="studentSex" jdbcType="INTEGER" />
    <result column="student_age" property="studentAge" jdbcType="INTEGER" />
    <result column="student_phone" property="studentPhone" jdbcType="VARCHAR" />
    <result column="student_email" property="studentEmail" jdbcType="VARCHAR" />
    <result column="student_nationality" property="studentNationality" jdbcType="VARCHAR" />
    <result column="student_createTime" property="studentCreatetime" jdbcType="TIMESTAMP" />
    <result column="student_lasteditTime" property="studentLastedittime" jdbcType="TIMESTAMP" />
    <result column="student_sifnature" property="studentSifnature" jdbcType="VARCHAR" />
    <result column="student_introduce" property="studentIntroduce" jdbcType="VARCHAR" />
    <result column="student_status" property="studentStatus" jdbcType="VARCHAR" />
    <result column="student_blog" property="studentBlog" jdbcType="VARCHAR" />
    <result column="student_img" property="studentImg" jdbcType="INTEGER" />
    <result column="student_department" property="studentDepartment" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    student_id, student_type, student_count, student_password, student_name, student_address, 
    student_sex, student_age, student_phone, student_email, student_nationality, student_createTime, 
    student_lasteditTime, student_sifnature, student_introduce, student_status, student_blog, 
    student_img, student_department
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nju.entity.TbStudentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_student
    where student_id = #{studentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_student
    where student_id = #{studentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nju.entity.TbStudentExample" >
    delete from tb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nju.entity.TbStudent" >
    insert into tb_student (student_id, student_type, student_count, 
      student_password, student_name, student_address, 
      student_sex, student_age, student_phone, 
      student_email, student_nationality, student_createTime, 
      student_lasteditTime, student_sifnature, 
      student_introduce, student_status, student_blog, 
      student_img, student_department)
    values (#{studentId,jdbcType=INTEGER}, #{studentType,jdbcType=INTEGER}, #{studentCount,jdbcType=VARCHAR}, 
      #{studentPassword,jdbcType=VARCHAR}, #{studentName,jdbcType=VARCHAR}, #{studentAddress,jdbcType=VARCHAR}, 
      #{studentSex,jdbcType=INTEGER}, #{studentAge,jdbcType=INTEGER}, #{studentPhone,jdbcType=VARCHAR}, 
      #{studentEmail,jdbcType=VARCHAR}, #{studentNationality,jdbcType=VARCHAR}, #{studentCreatetime,jdbcType=TIMESTAMP}, 
      #{studentLastedittime,jdbcType=TIMESTAMP}, #{studentSifnature,jdbcType=VARCHAR}, 
      #{studentIntroduce,jdbcType=VARCHAR}, #{studentStatus,jdbcType=VARCHAR}, #{studentBlog,jdbcType=VARCHAR}, 
      #{studentImg,jdbcType=INTEGER}, #{studentDepartment,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nju.entity.TbStudent" >
    insert into tb_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="studentType != null" >
        student_type,
      </if>
      <if test="studentCount != null" >
        student_count,
      </if>
      <if test="studentPassword != null" >
        student_password,
      </if>
      <if test="studentName != null" >
        student_name,
      </if>
      <if test="studentAddress != null" >
        student_address,
      </if>
      <if test="studentSex != null" >
        student_sex,
      </if>
      <if test="studentAge != null" >
        student_age,
      </if>
      <if test="studentPhone != null" >
        student_phone,
      </if>
      <if test="studentEmail != null" >
        student_email,
      </if>
      <if test="studentNationality != null" >
        student_nationality,
      </if>
      <if test="studentCreatetime != null" >
        student_createTime,
      </if>
      <if test="studentLastedittime != null" >
        student_lasteditTime,
      </if>
      <if test="studentSifnature != null" >
        student_sifnature,
      </if>
      <if test="studentIntroduce != null" >
        student_introduce,
      </if>
      <if test="studentStatus != null" >
        student_status,
      </if>
      <if test="studentBlog != null" >
        student_blog,
      </if>
      <if test="studentImg != null" >
        student_img,
      </if>
      <if test="studentDepartment != null" >
        student_department,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="studentType != null" >
        #{studentType,jdbcType=INTEGER},
      </if>
      <if test="studentCount != null" >
        #{studentCount,jdbcType=VARCHAR},
      </if>
      <if test="studentPassword != null" >
        #{studentPassword,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentAddress != null" >
        #{studentAddress,jdbcType=VARCHAR},
      </if>
      <if test="studentSex != null" >
        #{studentSex,jdbcType=INTEGER},
      </if>
      <if test="studentAge != null" >
        #{studentAge,jdbcType=INTEGER},
      </if>
      <if test="studentPhone != null" >
        #{studentPhone,jdbcType=VARCHAR},
      </if>
      <if test="studentEmail != null" >
        #{studentEmail,jdbcType=VARCHAR},
      </if>
      <if test="studentNationality != null" >
        #{studentNationality,jdbcType=VARCHAR},
      </if>
      <if test="studentCreatetime != null" >
        #{studentCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentLastedittime != null" >
        #{studentLastedittime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentSifnature != null" >
        #{studentSifnature,jdbcType=VARCHAR},
      </if>
      <if test="studentIntroduce != null" >
        #{studentIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="studentStatus != null" >
        #{studentStatus,jdbcType=VARCHAR},
      </if>
      <if test="studentBlog != null" >
        #{studentBlog,jdbcType=VARCHAR},
      </if>
      <if test="studentImg != null" >
        #{studentImg,jdbcType=INTEGER},
      </if>
      <if test="studentDepartment != null" >
        #{studentDepartment,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nju.entity.TbStudentExample" resultType="java.lang.Integer" >
    select count(*) from tb_student
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_student
    <set >
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=INTEGER},
      </if>
      <if test="record.studentType != null" >
        student_type = #{record.studentType,jdbcType=INTEGER},
      </if>
      <if test="record.studentCount != null" >
        student_count = #{record.studentCount,jdbcType=VARCHAR},
      </if>
      <if test="record.studentPassword != null" >
        student_password = #{record.studentPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.studentName != null" >
        student_name = #{record.studentName,jdbcType=VARCHAR},
      </if>
      <if test="record.studentAddress != null" >
        student_address = #{record.studentAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.studentSex != null" >
        student_sex = #{record.studentSex,jdbcType=INTEGER},
      </if>
      <if test="record.studentAge != null" >
        student_age = #{record.studentAge,jdbcType=INTEGER},
      </if>
      <if test="record.studentPhone != null" >
        student_phone = #{record.studentPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.studentEmail != null" >
        student_email = #{record.studentEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.studentNationality != null" >
        student_nationality = #{record.studentNationality,jdbcType=VARCHAR},
      </if>
      <if test="record.studentCreatetime != null" >
        student_createTime = #{record.studentCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.studentLastedittime != null" >
        student_lasteditTime = #{record.studentLastedittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.studentSifnature != null" >
        student_sifnature = #{record.studentSifnature,jdbcType=VARCHAR},
      </if>
      <if test="record.studentIntroduce != null" >
        student_introduce = #{record.studentIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.studentStatus != null" >
        student_status = #{record.studentStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.studentBlog != null" >
        student_blog = #{record.studentBlog,jdbcType=VARCHAR},
      </if>
      <if test="record.studentImg != null" >
        student_img = #{record.studentImg,jdbcType=INTEGER},
      </if>
      <if test="record.studentDepartment != null" >
        student_department = #{record.studentDepartment,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_student
    set student_id = #{record.studentId,jdbcType=INTEGER},
      student_type = #{record.studentType,jdbcType=INTEGER},
      student_count = #{record.studentCount,jdbcType=VARCHAR},
      student_password = #{record.studentPassword,jdbcType=VARCHAR},
      student_name = #{record.studentName,jdbcType=VARCHAR},
      student_address = #{record.studentAddress,jdbcType=VARCHAR},
      student_sex = #{record.studentSex,jdbcType=INTEGER},
      student_age = #{record.studentAge,jdbcType=INTEGER},
      student_phone = #{record.studentPhone,jdbcType=VARCHAR},
      student_email = #{record.studentEmail,jdbcType=VARCHAR},
      student_nationality = #{record.studentNationality,jdbcType=VARCHAR},
      student_createTime = #{record.studentCreatetime,jdbcType=TIMESTAMP},
      student_lasteditTime = #{record.studentLastedittime,jdbcType=TIMESTAMP},
      student_sifnature = #{record.studentSifnature,jdbcType=VARCHAR},
      student_introduce = #{record.studentIntroduce,jdbcType=VARCHAR},
      student_status = #{record.studentStatus,jdbcType=VARCHAR},
      student_blog = #{record.studentBlog,jdbcType=VARCHAR},
      student_img = #{record.studentImg,jdbcType=INTEGER},
      student_department = #{record.studentDepartment,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nju.entity.TbStudent" >
    update tb_student
    <set >
      <if test="studentType != null" >
        student_type = #{studentType,jdbcType=INTEGER},
      </if>
      <if test="studentCount != null" >
        student_count = #{studentCount,jdbcType=VARCHAR},
      </if>
      <if test="studentPassword != null" >
        student_password = #{studentPassword,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="studentAddress != null" >
        student_address = #{studentAddress,jdbcType=VARCHAR},
      </if>
      <if test="studentSex != null" >
        student_sex = #{studentSex,jdbcType=INTEGER},
      </if>
      <if test="studentAge != null" >
        student_age = #{studentAge,jdbcType=INTEGER},
      </if>
      <if test="studentPhone != null" >
        student_phone = #{studentPhone,jdbcType=VARCHAR},
      </if>
      <if test="studentEmail != null" >
        student_email = #{studentEmail,jdbcType=VARCHAR},
      </if>
      <if test="studentNationality != null" >
        student_nationality = #{studentNationality,jdbcType=VARCHAR},
      </if>
      <if test="studentCreatetime != null" >
        student_createTime = #{studentCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentLastedittime != null" >
        student_lasteditTime = #{studentLastedittime,jdbcType=TIMESTAMP},
      </if>
      <if test="studentSifnature != null" >
        student_sifnature = #{studentSifnature,jdbcType=VARCHAR},
      </if>
      <if test="studentIntroduce != null" >
        student_introduce = #{studentIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="studentStatus != null" >
        student_status = #{studentStatus,jdbcType=VARCHAR},
      </if>
      <if test="studentBlog != null" >
        student_blog = #{studentBlog,jdbcType=VARCHAR},
      </if>
      <if test="studentImg != null" >
        student_img = #{studentImg,jdbcType=INTEGER},
      </if>
      <if test="studentDepartment != null" >
        student_department = #{studentDepartment,jdbcType=INTEGER},
      </if>
    </set>
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nju.entity.TbStudent" >
    update tb_student
    set student_type = #{studentType,jdbcType=INTEGER},
      student_count = #{studentCount,jdbcType=VARCHAR},
      student_password = #{studentPassword,jdbcType=VARCHAR},
      student_name = #{studentName,jdbcType=VARCHAR},
      student_address = #{studentAddress,jdbcType=VARCHAR},
      student_sex = #{studentSex,jdbcType=INTEGER},
      student_age = #{studentAge,jdbcType=INTEGER},
      student_phone = #{studentPhone,jdbcType=VARCHAR},
      student_email = #{studentEmail,jdbcType=VARCHAR},
      student_nationality = #{studentNationality,jdbcType=VARCHAR},
      student_createTime = #{studentCreatetime,jdbcType=TIMESTAMP},
      student_lasteditTime = #{studentLastedittime,jdbcType=TIMESTAMP},
      student_sifnature = #{studentSifnature,jdbcType=VARCHAR},
      student_introduce = #{studentIntroduce,jdbcType=VARCHAR},
      student_status = #{studentStatus,jdbcType=VARCHAR},
      student_blog = #{studentBlog,jdbcType=VARCHAR},
      student_img = #{studentImg,jdbcType=INTEGER},
      student_department = #{studentDepartment,jdbcType=INTEGER}
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
</mapper>