<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nju.dao.mapper.TbTccHomeworkMapper" >
  <resultMap id="BaseResultMap" type="com.nju.entity.TbTccHomework" >
    <id column="tcch_id" property="tcchId" jdbcType="INTEGER" />
    <result column="course_concrete_id" property="courseConcreteId" jdbcType="INTEGER" />
    <result column="homework_id" property="homeworkId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tcch_id, course_concrete_id, homework_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nju.entity.TbTccHomeworkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_tcc_homework
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_tcc_homework
    where tcch_id = #{tcchId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_tcc_homework
    where tcch_id = #{tcchId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nju.entity.TbTccHomeworkExample" >
    delete from tb_tcc_homework
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nju.entity.TbTccHomework" >
    insert into tb_tcc_homework (tcch_id, course_concrete_id, homework_id
      )
    values (#{tcchId,jdbcType=INTEGER}, #{courseConcreteId,jdbcType=INTEGER}, #{homeworkId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nju.entity.TbTccHomework" >
    insert into tb_tcc_homework
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tcchId != null" >
        tcch_id,
      </if>
      <if test="courseConcreteId != null" >
        course_concrete_id,
      </if>
      <if test="homeworkId != null" >
        homework_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tcchId != null" >
        #{tcchId,jdbcType=INTEGER},
      </if>
      <if test="courseConcreteId != null" >
        #{courseConcreteId,jdbcType=INTEGER},
      </if>
      <if test="homeworkId != null" >
        #{homeworkId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nju.entity.TbTccHomeworkExample" resultType="java.lang.Integer" >
    select count(*) from tb_tcc_homework
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_tcc_homework
    <set >
      <if test="record.tcchId != null" >
        tcch_id = #{record.tcchId,jdbcType=INTEGER},
      </if>
      <if test="record.courseConcreteId != null" >
        course_concrete_id = #{record.courseConcreteId,jdbcType=INTEGER},
      </if>
      <if test="record.homeworkId != null" >
        homework_id = #{record.homeworkId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_tcc_homework
    set tcch_id = #{record.tcchId,jdbcType=INTEGER},
      course_concrete_id = #{record.courseConcreteId,jdbcType=INTEGER},
      homework_id = #{record.homeworkId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nju.entity.TbTccHomework" >
    update tb_tcc_homework
    <set >
      <if test="courseConcreteId != null" >
        course_concrete_id = #{courseConcreteId,jdbcType=INTEGER},
      </if>
      <if test="homeworkId != null" >
        homework_id = #{homeworkId,jdbcType=INTEGER},
      </if>
    </set>
    where tcch_id = #{tcchId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nju.entity.TbTccHomework" >
    update tb_tcc_homework
    set course_concrete_id = #{courseConcreteId,jdbcType=INTEGER},
      homework_id = #{homeworkId,jdbcType=INTEGER}
    where tcch_id = #{tcchId,jdbcType=INTEGER}
  </update>
</mapper>