<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nju.dao.mapper.TbWeekMapper" >
  <resultMap id="BaseResultMap" type="com.nju.entity.TbWeek" >
    <id column="week_id" property="weekId" jdbcType="INTEGER" />
    <result column="week_day" property="weekDay" jdbcType="VARCHAR" />
    <result column="week_order" property="weekOrder" jdbcType="VARCHAR" />
    <result column="week_time" property="weekTime" jdbcType="VARCHAR" />
    <result column="week_season" property="weekSeason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    week_id, week_day, week_order, week_time, week_season
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nju.entity.TbWeekExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_week
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_week
    where week_id = #{weekId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_week
    where week_id = #{weekId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nju.entity.TbWeekExample" >
    delete from tb_week
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nju.entity.TbWeek" >
    insert into tb_week (week_id, week_day, week_order, 
      week_time, week_season)
    values (#{weekId,jdbcType=INTEGER}, #{weekDay,jdbcType=VARCHAR}, #{weekOrder,jdbcType=VARCHAR}, 
      #{weekTime,jdbcType=VARCHAR}, #{weekSeason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nju.entity.TbWeek" >
    insert into tb_week
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="weekId != null" >
        week_id,
      </if>
      <if test="weekDay != null" >
        week_day,
      </if>
      <if test="weekOrder != null" >
        week_order,
      </if>
      <if test="weekTime != null" >
        week_time,
      </if>
      <if test="weekSeason != null" >
        week_season,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="weekId != null" >
        #{weekId,jdbcType=INTEGER},
      </if>
      <if test="weekDay != null" >
        #{weekDay,jdbcType=VARCHAR},
      </if>
      <if test="weekOrder != null" >
        #{weekOrder,jdbcType=VARCHAR},
      </if>
      <if test="weekTime != null" >
        #{weekTime,jdbcType=VARCHAR},
      </if>
      <if test="weekSeason != null" >
        #{weekSeason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nju.entity.TbWeekExample" resultType="java.lang.Integer" >
    select count(*) from tb_week
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_week
    <set >
      <if test="record.weekId != null" >
        week_id = #{record.weekId,jdbcType=INTEGER},
      </if>
      <if test="record.weekDay != null" >
        week_day = #{record.weekDay,jdbcType=VARCHAR},
      </if>
      <if test="record.weekOrder != null" >
        week_order = #{record.weekOrder,jdbcType=VARCHAR},
      </if>
      <if test="record.weekTime != null" >
        week_time = #{record.weekTime,jdbcType=VARCHAR},
      </if>
      <if test="record.weekSeason != null" >
        week_season = #{record.weekSeason,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_week
    set week_id = #{record.weekId,jdbcType=INTEGER},
      week_day = #{record.weekDay,jdbcType=VARCHAR},
      week_order = #{record.weekOrder,jdbcType=VARCHAR},
      week_time = #{record.weekTime,jdbcType=VARCHAR},
      week_season = #{record.weekSeason,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nju.entity.TbWeek" >
    update tb_week
    <set >
      <if test="weekDay != null" >
        week_day = #{weekDay,jdbcType=VARCHAR},
      </if>
      <if test="weekOrder != null" >
        week_order = #{weekOrder,jdbcType=VARCHAR},
      </if>
      <if test="weekTime != null" >
        week_time = #{weekTime,jdbcType=VARCHAR},
      </if>
      <if test="weekSeason != null" >
        week_season = #{weekSeason,jdbcType=VARCHAR},
      </if>
    </set>
    where week_id = #{weekId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nju.entity.TbWeek" >
    update tb_week
    set week_day = #{weekDay,jdbcType=VARCHAR},
      week_order = #{weekOrder,jdbcType=VARCHAR},
      week_time = #{weekTime,jdbcType=VARCHAR},
      week_season = #{weekSeason,jdbcType=VARCHAR}
    where week_id = #{weekId,jdbcType=INTEGER}
  </update>
</mapper>